 <div class="return-policy">
       At Divian we stand by every product we sell. We will do everything we can to make you happy with your purchase, but if for some reason you're not completely satisfied within the first 90 days of the delivery of your initial order, we'll refund your money (less shipping & processing).*
    </div>
